<div *ngIf="isLoading" class="loading">Carregando...</div>
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>


<div class="central-container">
  <div class="vehicle-list-header">
    <button (click)="navigateToCreate()" class="add-button">Adicionar Veículo</button>
  </div>

  <div *ngIf="!isLoading && !errorMessage && vehicles.length === 0" class="no-vehicles-message">
    <h2>Nenhum veículo cadastrado ainda</h2>
    <p>Parece que não há veículos cadastrados no sistema. Clique em "Adicionar Veículo" para cadastrar o primeiro!</p>
  </div>

  <div class="table-container"  *ngIf="!isLoading && !errorMessage && vehicles.length > 0">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Placa</th>
          <th>Chassi</th>
          <th>Renavam</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Ano</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{ vehicle.id }}</td>
          <td>{{ vehicle.placa }}</td>
          <td>{{ vehicle.chassi }}</td>
          <td>{{ vehicle.renavam }}</td>
          <td>{{ vehicle.modelo }}</td>
          <td>{{ vehicle.marca }}</td>
          <td>{{ vehicle.ano }}</td>
          <td>
            <button (click)="editVehicle(vehicle.id)" class="icon-button" title="Editar">Editar</button>
            <button (click)="deleteVehicle(vehicle.id)" class="icon-button delete-button"
              title="Excluir">Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="totalPages && totalPages > 1 && !isLoading" class="pagination-controls">
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
    Anterior
  </button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
    Próximo
  </button>
</div>
